<h2>Fire Traits</h2>

<ul>
    <% fireSigns.forEach(sign=>{ %>
        <li> <%=sign%> </li>
    <% }) %>
</ul>

<ul>
    <% fireTraits.forEach(trait=>{ %>
        <li> <%=trait%> </li>
    <% }) %>
</ul>