<h2>Water Traits</h2>

<ul>
    <% waterSigns.forEach(sign=>{ %>
        <li> <%=sign%> </li>
    <% }) %>
</ul>

<ul>
    <% waterTraits.forEach(trait=>{ %>
        <li> <%=trait%> </li>
    <% }) %>
</ul>