<h5><%= element  %></h5>

<h6>Signs</h6>

<ul>
<% signs.forEach(sign => { %>
  <li><%= sign %></li>
<% }) %>
</ul>

<h6>Traits</h6>

<ul>
<% traits.forEach(trait => { %>
  <li><%= trait %></li>
<% }) %>
</ul>