<h2> <%= element %> </h2>

<h3>Signs</h3>
<ul>
    <% signs.forEach(sign=>{ %>
        <li> <%=sign%> </li>
    <% }) %>
</ul>
<h4>Traits</h4>
<ul>
    <% traits.forEach(trait=>{ %>
        <li> <%=trait%> </li>
    <% }) %>
</ul>